<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoon.mapper.MemberMapper">

	<sql id="search">
		<where>
			<trim prefixOverrides="OR">
				<foreach collection="typeCollection">
					<trim prefix="OR">
						<choose>
							<when test="type == 'I'.toString()">
								id like concat('%', #{keyword}, '%')
							</when>
							<when test="type == 'N'.toString()">
								userName like concat('%', #{keyword}, '%')
							</when>
							<when test="type == 'E'.toString()">
								email like concat('%', #{keyword}, '%')
							</when>
						</choose>
					</trim>
				</foreach>
			</trim>
		</where>
	</sql>
		
		<resultMap type="com.hoon.model.MemberVo" id="memberMap">
					<id property="userId" column="userId" />
				 <!--  property 는 자바 파라미터, column은 sql 파라미터 -->
				<result property="userId" column="userId" />
				<result property="userPw" column="userPw" />
				<result property="userName" column="userName" />
				<result property="enabled" column="enabled" />
				<result property="regDate" column="regDate" />
				<result property="updateDate" column="updateDate" />
				<collection property="authList" resultMap="authMap" />
		</resultMap>
		
		<resultMap type="com.hoon.model.AuthVO" id="authMap">
				<result property="userId" column="userId" />
				<result property="auth" column="auth" />
		</resultMap>
		
		
		
		<select id="read" resultMap="memberMap">
			select * from member_tbl M
			inner join member_auth A
			on M.userId = A.userId
			where M.userid = #{userId};
		</select>


	<select id="findAll" resultType="com.hoon.model.Member">
		select * from member_tbl
		<include refid="search" />
			 order by userId desc
			  limit #{pageStart}, #{perPageNum};
	</select>

	<select id="totalCount" resultType="Integer">
		select count(*) from member_tbl
		<include refid="search" />
	</select>

	<insert id="insert">
		insert into member_tbl(userName, email, password) value(#{userName},
		#{email}, #{password});
		<selectKey keyProperty="id" order="AFTER" resultType="long">
			select last_insert_id()
		</selectKey>
	</insert>

	<update id="update">
		update member_tbl set
		userName = #{userName},
		email = #{email},
		password = #{password}
		where userId = #{userId}
	</update>

	<select id="findById" resultType="com.hoon.model.Member">
		select * from member_tbl where userId=#{userId}
	</select>

	<delete id="delete">
		delete from member_tbl where userId=#{userId}
	</delete>

	<select id="findByEmail" resultType="com.hoon.model.Member">
		select * from member_tbl where email = #{email};
	</select>

</mapper>